.container_main{
    margin-top: 132px;
}
.iteam_1,.iteam_2,.iteam_3{
    width: 364px;
    height: 224px;
    margin: 0 12px;
    color: #000000;
    font-size: 18px;
}
.iteam_1 ,.iteam_2,.iteam_3{
    flex-direction:column;
}
.next_right,.previous{
    top:55%;
    right: 2%;
}
.previous{
    left: 2%;
    top: 55%;
}
.node_active{  
    top: 70%;
    left: 47.5%;
}
.node-inactive{   
    top:69.5%;
    left: 51.5%;
}
.fail_2{  
    top: 40%;
    left: 20%;
}
